sample/phone-number.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:phn="http://www.example.com/phone-number" targetNamespace="http://www.example.com/phone-number" elementFormDefault="qualified">
  <xs:element name="phonenum" type="phn:Phone"></xs:element>
  <xs:complexType name="Phone">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
